.About {
  text-align: center;
  width: 600px;
  margin: 30px auto;
  padding: 5px 40px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: rgba(216, 173, 249, 0.3);
  border-radius: 15px;
  

}

.img {
    width: 50%;
    border-radius: 15px;
}
