body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content:right;
  padding: 10px;
  gap: 25px;
  background-color: #c585ca;
  padding-right: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.active {
  background-color: #7b6095;
  border-radius: 5px;
}